/* File Name: inestyle.css */
INE { 
	display:block;
	margin-top:20pt;
	font-family: Verdana;
	font-size:10pt;
}
NOMBRE, DIRECCION { 
	font-weight : bold;
	margin-top:5pt;
}
clave { 
	margin-top:5pt;
}
NOMBRE, DIRECCION, clave, curp, fecha, sexo, seccion, ano, vigencia { 
	display:block;
}
